[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
codecov = "*"
flake8 = "*"
ipdb = "*"
ipython = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[packages]
docker = "*"
docopt = "*"
schema = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
tests = "pipenv run pytest -vv -x --cov-report term-missing --cov=."
